<%= @recipes.each do |recipe| %>

  <div id="recipe-<%= recipe.id %>">
    <%= render partial: "shared/recipe", locals: {recipe: recipe} %>
    <%= link_to 'Aprovar', approve_recipe_path(recipe), method: :patch, class: 'button'%>
    <%= link_to 'Rejeitar', reject_recipe_path(recipe), method: :patch, class: 'button'%>
  </div>

<% end %>