
<div class="col-sm-6 offset-sm-3 text-center">

  <% if @recipe.photo.attached? %>
    <%= image_tag @recipe.photo, class: "img-fluid", alt:"Card image cap" %>
  <% else %>            
    <%= image_tag "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg", class: "img-fluid", alt:"Card image cap" %>
  <% end %>

  <div class='divisor-30'></div>

  <div class="row">
    <div class="col">
      <h5 class="pb-2 pt-1"><i class="fas fa-mitten recipe_icon"></i><%= @recipe.recipe_type.name unless @recipe.recipe_type.nil? %></h5>
    </div>
    <div class="col">
      <h5 class="pb-2 pt-1"><i class="fas fa-utensils recipe_icon"></i><%= @recipe.cuisine %></h5>
    </div>
  </div>

  <div class='divisor'></div>

  <h2><%= @recipe.title %></h2>

  <div class='divisor'></div>

  <p>Dificuldade: <%= @recipe.difficulty %></p>
  <p>Tempo de preparo: <%= @recipe.cook_time_text_with_minutes %></p>

  <h4>Ingredientes:</h4>
  <p><%= @recipe.ingredients %></p>

  <h4>Como Preparar:</h4>
  <p><%= @recipe.cook_method %></p>

  <p class='small'><%= "Receita enviada por #{@recipe.user.email}"  %></p>
  <p class='small'><%= 'Receita pendente' if @recipe.pending? %></p>

  <% if user_signed_in? %>
  <p>Pertence à(s) lista(s): 
    <% @recipe_lists.each do |list| %>
      <%= "#{list.name} " %>
    <% end %>
  </p>

  <%# <%= link_to "Editar receita", edit_recipe_path(@recipe) %>

    <%= form_with local: true, method: 'post', url: add_to_list_recipe_path(@recipe) do |f| %>
      <%= f.label :recipe_list_id, 'Adicionar a lista' %>
      <%= f.collection_select :recipe_list_id, @recipe_lists_select, :id, :name %>
      <%= f.submit 'Adicionar' %>
    <% end %>
  <% end %>

  <div class='divisor'></div>

  <% if @recipe.owned?(current_user) %>
    <div class="row">
      <div class="col">
        <%= link_to 'Editar', edit_recipe_path(@recipe), class: 'btn btn-outline-info'  %>
      </div>
      <div class="col">
        <%= link_to 'Deletar', recipe_path(@recipe), method: :delete, class: 'btn btn-outline-danger'  %>
      </div>
    </div>
  <% end %>

  <div class='divisor-30'></div>

  <%= link_to 'Voltar', root_path, class: 'btn btn-outline-dark'  %>

  <div class='divisor-30'></div>
</div>