<nav class="navbar navbar-expand-md fixed-top navbar-light bg-secondary static-top ">
  <%= link_to 'Social Recipes', root_path, class: "navbar-brand font-weight-bold"%>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto ml-md-12">
      <%= link_to 'Início', root_path, class: "nav-item nav-link active" %>
      <% if user_signed_in? %>        
        <%= link_to 'Minhas Receitas', my_recipes_path, class: "nav-item nav-link" %>
        <%= link_to 'Cadastrar Receita', new_recipe_path, class: "nav-item nav-link" %>
        <%= link_to 'Sair', root_path, class: "nav-item nav-link" %>
      <% else %>

      <% end %>
    </div>
  </div>
</nav>