<!DOCTYPE html>
<html>
  <head>
    <title>CookbookRevelo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  </head>

  <body>    

     <!-- Navbar -->
    <%= render 'layouts/navbar' %>

    <div id="wrapper">
      <!-- Sidebar -->
      <%= render 'layouts/sidebar' %>
    

      <div id="content-wrapper">
        <div class="container-fluid">

          <!-- Flashs -->
          <%= render 'layouts/flashs' %>
          
          <!-- Main Content -->
          <%= yield %>

          <!-- Lorem Ipsum -->
          <%#= render 'layouts/lorem_ipsum' %>

          <div class='divisor-30'></div>

          <!-- Sticky Footer -->
          <%= render 'layouts/footer' %>
        </div>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
  </body>
</html>